/* Shadow of the Eyes // light scheme (default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #FF99CC;
  --primary-hover: #F77FBE;
  --primary-focus: rgba(75, 73, 122, 0.125);
  --primary-inverse: #F5F5F5;
}

/* Shadow of the Eyes // dark scheme (auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --primary: #F77FBE;
    --primary-hover: #FF99CC;
    --primary-focus: rgba(75, 73, 122, 0.25);
    --primary-inverse: #F5F5F5;
  }
}

/* Shadow of the Eyes // dark scheme (forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #F77FBE;
  --primary-hover: #FF99CC;
  --primary-focus: rgba(75, 73, 122, 025);
  --primary-inverse: #F5F5F5;
}

/* Shadow of the Eyes (common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}