<html>
  <header>
    {{> partials/header }}
    <title>Home | Brendan Devenney</title>
  </header>

  <body>
    {{> partials/navbar }}

    <section class="hero">
      <div class="hero-body">
        <h1 class="title">
          Brendan Devenney
        </h1>
        <h2 class="subtitle">
          Software Development, Operations & Reliability Engineering
        </h2>
      </div>
    </section>

    <!-- SKILLSET -->

    <section id="skillset" class="hero is-black">
      <div class="hero-body">
        <h1 class="title">Skillset</h1>
      </div>
    </section>

    <section class="section">
      <div class="tile is-ancestor">
        <!-- Software Engineering -->
        <div class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">Software Engineering</h1>
          </div>
          <div class="tile is-child notification is-light box">
            <h1 class="title">Go</h1>
            <h2 class="subtitle">Three years of industry experience delivering scalable, reliable and secure web-facing services.</h2>
            <a href="#approov"><span class="tag is-dark is-rounded">Approov</span></a>
          </div>
          <div class="tile is-child notification is-light box">
            <h1 class="title">Python</h1>
            <h2 class="subtitle">Four years of industry experience delivering everything from web services to backup scripts.</h2>
            <a href="#approov"><span class="tag is-dark is-rounded">Approov</span></a>
            <a href="#devenneybot"><span class="tag is-dark is-rounded">Devenneybot</span></a>
            <a href="#reverie"><span class="tag is-dark is-rounded">Reverie</span></a>
          </div>
        </div>

        <!-- Site Reliability Engineering -->
        <div class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">Reliability Engineering</h1>
          </div>
          <div class="tile is-child notification is-light box">
            <h1 class="title">Monitoring (2+ Years)</h1>
            <h2 class="subtitle">Developed, deployed and monitored code handling in excess of 250M requests per month.</h2>
            <a href="#approov"><span class="tag is-dark is-rounded">Approov</span></a>
            <a href="#reverie"><span class="tag is-dark is-rounded">Reverie</span></a>
          </div>
          <div class="tile is-child notification is-light box">
            <h1 class="title">Cloud Architecture</h1>
            <h2 class="subtitle">Cloud application design, management and <a href="#monitoring">monitoring</a> of a number of customer-facing services.</h2>
            <a href="#approov"><span class="tag is-dark is-rounded">Approov</span></a>
          </div>
        </div>

        <!-- Operations -->
        <div class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">Operations</h1>
          </div>
          <div class="tile is-child notification is-light box">
            <h1 class="title">Deployment</h1>
            <h2 class="subtitle">Well versed in deploying complex systems to AWS (CloudFormation, Terraform) and GCP (Kubernetes).</h2>
            <a href="#approov"><span class="tag is-dark is-rounded">Approov</span></a>
            <a href="#reverie"><span class="tag is-dark is-rounded">Reverie</span></a>
          </div>
          <div class="tile is-child notification is-light box">
            <h1 class="title">Integration</h1>
            <h2 class="subtitle">Jenkins and Travis are my stomping grounds. Check out the <a href="#reverie">Reverie</a> PRs for a sneak peek of the standards I set myself.</h2>
            <a href="#approov"><span class="tag is-dark is-rounded">Approov</span></a>
            <a href="#reverie"><span class="tag is-dark is-rounded">Reverie</span></a>
          </div>
        </div>
      </div>
    </section>

    <!-- TRACK RECORD -->

    <section id="track-record" class="hero is-black">
      <div class="hero-body">
        <h1 class="title">Track Record</h1>
      </div>
    </section>

    <section class="section">
      <div class="tile is-ancestor">

        <!-- Approov -->
        <div id="approov" class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">
              Approov
              <span style="float: right;">
                <a href="https://approov.io/">
                  <span class="icon"><i class="fa fa-link"></i></span></a>&nbsp
              </span>
            </h1>
          </div>
          <div class="tile is-child notification is-light box">
            <h2 class="subtitle">Worked as a core member of the <a href="https://approov.io/">Approov</a> development team, delivering highly scalable, reliable and secure code.</h2>
          </div>
        </div>

        <!-- Devenneybot -->
        <div id="devenneybot" class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">
              Devenneybot&nbsp
              <span style="float: right;">
                <a href="https://telegram.me/devenneybot">
                  <span class="icon"><i class="fa fa-link"></i></span></a>&nbsp
                <a href="https://github.com/devenney/devenneybot/">
                  <span class="icon"><i class="fa fa-github"></i></span></a>&nbsp
              <span>
            </h1>
          </div>
          <div class="tile is-child notification is-light box">
            <h2 class="subtitle">A polyhedral dice rolling Telegram bot. Supports both inline and query commands. Deployed with API Gateway and Lambda.</h2>
          </div>
        </div>

        <!-- Reverie -->
        <div id="reverie" class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">
              Reverie&nbsp
              <span style="float: right;">
                <a href="https://reverie.devenney.io/">
                  <span class="icon"><i class="fa fa-link"></i></span></a>&nbsp
                <a href="https://github.com/devenney/reverie/">
                  <span class="icon"><i class="fa fa-github"></i></span></a>&nbsp
              <span>
            </h1>
          </div>
          <div class="tile is-child notification is-light box">
            <h2 class="subtitle">A campaign tracker for tabletop RPGs.  Written in Django with &hearts;. Hit the GitHub icon to check out the source.</h2>
          </div>
        </div>
      </div>
    </section>

    <!-- CERTIFICATIONS -->
    <section id="certs" class="hero is-black">
      <div class="hero-body">
        <h1 class="title">Certifications</h1>
      </div>
    </section>

    <section class="section">
      <div class="tile is-ancestor">
        <!-- Amazon Web Services -->
        <div class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">Amazon Web Services</h1>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child">
              <figure class="image container is-128x128">
                <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=4&t=c&d=2018-11-06&ci=AWS00273339">
                  <img src="images/sap.png">
                </a>
              </figure>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child is-4">
              <figure class="image container is-128x128">
                <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2018-03-21&ci=AWS00273339">
                  <img src="images/dva.png">
                </a>
              </figure>
            </div>

            <div class="tile is-child is-4">
              <figure class="image container is-128x128">
                <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2018-03-15&ci=AWS00273339">
                  <img src="images/saa.png">
                </a>
              </figure>
            </div>

            <div class="tile is-child is-4">
              <figure class="image container is-128x128">
                <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=3&t=c&d=2018-03-23&ci=AWS00273339">
                  <img src="images/soa.png">
                </a>
              </figure>
            </div>
          </div>
        </div>

        <!-- Agile -->
        <div class="tile is-parent is-4 is-vertical">
          <div class="tile is-child notification is-dark">
            <h1 class="title">Agile Methodologies</h1>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child">
              <figure class="image container" style="height:128px; width:75px;">
                <a href="https://scrum.org/user/418562">
                  <img src="images/psm1.png">
                </a>
              </figure>
            </div>
          </div>

          <div class="tile is-parent">
            <div class="tile is-child">
              <br/><br/><br/>
              <br/><br/>

            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
