<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brendan Devenney</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:site_name" content="Brendan Devenney">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Brendan Devenney - Software Engineer">
    <meta name="description" property="og:description" content="Brendan Devenney, an Edinburgh-based software and reliability engineer.">
    <meta property="og:image" content="https://bren.dev/images/logo_sm.png">
    <meta property="og:image:width" content="1068" />
    <meta property="og:image:height" content="432" />

    <title>Brendan Devenney - Software Engineer</title>

    <link rel="icon" href="images/favicon.ico" type="image/x-icon"/>

    {{> partials/ga }}

    <script src="main.js" ></script>
</head>

<body>
  <!-- Navigation -->
  <div class="nav">
    <div class="nav-header">
      <div class="nav-title">
        <b>Dev</b>enney
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <input type="checkbox" id="nav-check">
    <div class="nav-links">
      <a href="https://github.com/devenney" target="_blank"><i class="fab fa-github"></i> Github</a>
      |
      <a href="https://t.me/devenneybot" target="_blank"><i class="fas fa-dice-d20"></i> Dicebot</a>
      <a href="https://reverie.oneirism.co" target="_blank"><i class="fas fa-hat-wizard"></i> Reverie</a>
    </div>
  </div>

  <div class="container">
    <!-- Hero -->
    <div class="hero">
      <div class="header">
        <h1 class="title">BRENDAN DEVENNEY</h1>
        <h2 class="subtitle tight">Software Engineer</h2>
      </div>
    </div>

    <!-- Skillset -->
    <div class="banner">
      <h1 class="title">Skillset</h1>
    </div>

    <div class="cgrid">
      <div class="pure-g">
        <!-- Software Engineering -->
        <div class="pure-u-1 pure-u-lg-1-3 notification">
          <div class="pure-u-1 notification sandwiched is-dark">
            <h2 class="title">Software Development</h3>
          </div>

          {{> partials/item title="Golang" subtitle=(split 'Three years of industry experience delivering scalable and secure web-facing services.;Significant contributions to the core functionality of Hashicorp\'s <a href="#packer">Packer</a>.') }}

          {{> partials/item title="Python" subtitle=(split 'Four years of industry experience delivering everything from web services to scripts.;A wealth of side-projects from <a href="#dicebot">serverless bots</a> to <a href="#reverie">monolithic Django apps</a>.') }}

          {{> partials/item title="Open Source" subtitle=(split 'Fanatical about open source, from <a href="#packer">Packer</a> to <a href="#sceptre">Sceptre</a>.;Actively seeking more opportunities - hit me up!') }}
        </div>

        <!-- Reliability Engineering -->
        <div class="pure-u-1 pure-u-lg-1-3 notification">
          <div class="pure-u-1 notification sandwiched is-dark">
            <h2 class="title">Reliability Engineering</h3>
          </div>

          {{> partials/item title="Automation" subtitle=(split 'Continuous compliance and drift remediation for an estate of 10000+ machines.;SCM Gatekeeping integrated with ChatOps.') }}

          {{> partials/item title="CI/CD" subtitle=(split 'Jenkins and Travis are my stomping grounds. Check out the <a href="#reverie">Reverie</a> PRs for a sneak peek of the standards I set myself.') }}

          {{> partials/item title="Monitoring" subtitle=(split 'Three years of industry experience delivering scalable and secure web-facing services.') }}

        </div>

        <!-- Reliability Engineering -->
        <div class="pure-u-1 pure-u-lg-1-3 notification">
          <div class="pure-u-1 notification sandwiched is-dark">
            <h2 class="title">Process Improvements</h3>
          </div>

          {{> partials/item title="Agile" subtitle=(split 'Proven track record of Agile improvement in large, distributed teams.;Ability to implement, execute and coach on relative Agile best practices.') }}

          {{> partials/item title="Culture" subtitle=(split 'Multiple years of experience improving culture in enterprise environments.') }}

        </div>
      </div>
    </div>

    <!-- Track Record -->
    <div class="banner">
      <h1 class="title">Track Record</h1>
    </div>

    <div class="cgrid">
      <div class="pure-g">
        {{> partials/project title="Approov" link="https://approov.io" subtitle=(split 'Worked as a core member of the <a href="https://approov.io">Approov</a> development team.;Written defensively in Golang, deployed scalably in the cloud.') }}

        {{> partials/project title="Dicebot" link="https://t.me/devenneybot" github="https://github.com/oneirism/dicebot" subtitle=(split 'A polyhedral dice-rolling Telegram bot. Supports inline and query commands.;One hundred percent serverless and free.') }}

        {{> partials/project title="Packer" link="https://packer.io" github="https://github.com/hashicorp/packer" subtitle=(split 'A machine image creation automation tool by <a href="https://hashicorp.com">Hashicorp</a>.;Significant contributions to the core functionality.') }}

        {{> partials/project title="Sceptre" link="https://sceptre.cloudreach.com" github="https://github.com/cloudreach/sceptre" subtitle=(split 'A cloud deployment automation tool by <a href="https://cloudreach.com">Cloudreach</a>.;Contributions to support customers\' utilisation of the tool.') }}

        {{> partials/project title="Reverie" link="https://reverie.oneirism.co" github="https://github.com/oneirism/reverie" subtitle=(split 'A campaign tracker for tabletop role-playing games.;Written in Django with <i class="fas fa-heart"></i>.') }}

      </div>
    </div>

    <!-- Certifications -->
    <div class="banner">
      <h1 class="title">Certifications</h1>
    </div>

    <div class="cgrid">
      <div class="pure-g">
        <!-- AWS -->
        <div class="pure-u-1 pure-u-lg-1-3">
          <h2 class="title">Amazon Web Services</h2>

          {{> partials/cert link="https://www.certmetrics.com/amazon/public/badge.aspx?i=4&t=c&d=2018-11-06&ci=AWS00273339" src="images/sap.png" }}

          {{> partials/cert link="https://www.certmetrics.com/amazon/public/badge.aspx?i=2&t=c&d=2018-03-21&ci=AWS00273339" src="images/dva.png" small=true}}

          {{> partials/cert link="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2018-03-15&ci=AWS00273339" src="images/saa.png" small=true}}

          {{> partials/cert link="https://www.certmetrics.com/amazon/public/badge.aspx?i=3&t=c&d=2018-03-23&ci=AWS00273339" src="images/soa.png" small=true}}
        </div>

        <!-- Agile -->
        <div class="pure-u-1 pure-u-lg-1-3">
          <h2 class="title">Agile</h2>

          {{> partials/cert link="https://scrum.org/user/418562" src="images/psm1.png"}}
        </div>
      </div>
    </div>

  </div>
</body>
</html>
