<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head }}
  <title>Brendan Devenney</title>
</head>

<body onload="init()">
  <main class="container" id="main">
    {{> partials/nav }}

    <section>
      <article id="article">
        <hgroup>
          <kbd>Current</kbd>
          <h2>Staff Software Engineer at <a href="https://approov.io">Approov</a></h2>
          <p>
            Protecting leading brands with state-of-the-art security solutions.
          </p>
        </hgroup>
        <footer>
          <details>
            <summary role="button" class="">Previous Roles</summary>

            <hgroup>
              <h5>Head of Engineering (European Payments)</h5>
              2023-2025 • <a href="https://form3.tech">Form3</a>
              <p>Delivering SEPA Instant, Credit Transfer, and Direct Debit at scale. Empowering household brands like <a href="https://www.form3.tech/news/press-releases/klarna-european-payments">Klarna</a>.</p>
            </hgroup>

            <hgroup>
              <h5>Head of Engineering (International)</h5>
              2022-2023 • <a href="https://form3.tech">Form3</a>
              <p>Launched Form3's SWIFT offering with <a href="https://www.pymnts.com/partnerships/2022/fintech-form3-goldman-sachs-launch-cross-border-transaction-banking/">Goldman Sachs</a>, enabling cross-border payments in 124 currencies.</p>
            </hgroup>

            <hgroup>
              <h5>Lead Engineer</h5>
              2021-2022 • <a href="https://form3.tech">Form3</a>
              <p>Delivered <a href="https://www.form3.tech/news/press-releases/form3-mastercard-payport-gateway">Mastercard</a>'s PayPort+, shaping the future of UK Faster Payments.</p>
            </hgroup>

            <hgroup>
              <h5>Senior Engineer</h5>
              2019-2021 • <a href="https://form3.tech">Form3</a>
              <p>Built the foundations of the Form3 payments platform.</p>
            </hgroup>

            <hgroup>
              <h5>Cloud Improvement Engineer</h5>
              2018-2019 • <a href="https://www.cloudreach.com/en/">Cloudreach</a>
              <p>Guided enterprises through cloud transformations.</p>
            </hgroup>

            <hgroup>
              <h5>Software Engineer</h5>
              2014-2018 • <a href="https://approov.io/">Approov</a>
              <p>Developed and commercialised a mobile runtime protection (RASP) platform.</p>
            </hgroup>

            <hgroup>
              <h5>Software Test Engineer</h5>
              2013-2014 • <a href="https://approov.io/">Approov</a>
              <p>Industrial placement year, contributing to testing and early development of performance engineering tools.</p>
            </hgroup>
          </details>
        </footer>
      </article>
    </section>
  </main>

  {{> partials/footer}}
</body>
</html>
