<!DOCTYPE html>
<html lang="en">

<head>
  {{> partials/head }}
  <title>Brendan Devenney</title>
</head>

<body onload="init()">
  <main class="container" id="main">
    {{> partials/nav }}

    <section>
      <article id="article">
        <hgroup>
          <kbd>Current</kbd>
          <h2> Head of Engineering (European Payments)</h2>
          <h3><a href="https://form3.tech">Form3</a></h3>
          Leading Form3's technical strategy for the SEPA region, focusing on Instant Credit Transfer, Credit Transfer, and Direct Debit solutions.
        </hgroup>
        <footer>
          <details>
            <summary role="button" class="">Previous Roles</summary>
            <hgroup>
              <h5>Head of Engineering (International)</h5>
              2022-2023 • <a href="https://form3.tech">Form3</a>
              <p>Successfully brought two new global payments solutions to market: Direct<sup><a href="https://www.form3.tech/news/press-releases/form3-to-launch-cloud-native-api-swift-connectivity">1</a></sup> and Indirect.<sup><a href="https://www.form3.tech/_prismic-media/e010476bc8b8a7667293f6b2c66d5c8c8d373082f30a65aee2de7c0b1aeda342.pdf">2</a></sup>
            </hgroup>

            <hgroup>
              <h5>Lead Engineer</h5>
              2021-2022 • <a href="https://form3.tech">Form3</a>
              <p>Delivered an instant domestic payments solution for major and big four bank(s).<sup><a href="https://www.mastercard.com/news/europe/en-uk/newsroom/press-releases/en-gb/2021/july/mastercard-launches-the-next-generation-payport-real-time-payments-gateway/">3</a></p></sup>
            </hgroup>

            <hgroup>
              <h5>Senior Engineer</h5>
              2019-2021 • <a href="https://form3.tech">Form3</a>
              <p>Laid the foundations for the future of UK domestic payments.</p>
            </hgroup>

            <hgroup>
              <h5>Cloud Improvement Engineer</h5>
              2018-2019 • <a href="https://www.cloudreach.com/en/">Cloudreach</a>
              <p>Provided cloud architecture expertise to customers embarking on digital transformation journeys.<br/>
                Core contributor to <a href="https://github.com/Sceptre/sceptre">Sceptre</a></p>
            </hgroup>

            <hgroup>
              <h5>Software Engineer</h5>
              2014-2018 • <a href="https://approov.io/">Approov</a>
              <p>Brought a novel mobile runtime application self-protection (RASP) solution to market.</p>
            </hgroup>

            <hgroup>
              <h5>Software Test Engineer</h5>
              2013-2014 • <a href="https://approov.io/">Approov</a>
              <p>Third year university placement. Standing on the shoulders of giants.</p>
            </hgroup>
          </details>
        </footer>
      </article>
    </section>
  </main>

  {{> partials/footer}}
</body>
</html>