  <footer class="container">
    <hr>
    <nav>
      <ul>
        <li>
          <i data-target="modal-easter-egg" ondblclick="toggleModal(event)" class="fa-solid fa-city"></i>
        </li>
      </ul>
      <ul>
        <li>Code licensed <a href="https://github.com/devenney/devenney.io/blob/master/LICENSE">MIT</a></li>
      </ul>
      <ul>
        <li><abbr id="lightswitch" title=""><i onClick="switchTheme(event)" class="fa-regular fa-lightbulb"></abbr></i></li>
      </ul>
    </nav> 
  </footer>

  <dialog id="modal-easter-egg" data-target="modal-easter-egg" onClick="toggleModal(event)">
    <article>      
        <p>My dearest Erin,</p>
        <p></p>
        <p>
          Tonight will mark the end of a life long dream of mine.
          The completion of a labour I began as a child, even before I knew the words for it.
          Before I knew the ways to accomplish such a task.
          Even now my heart is heavy with dread;
          I fear I've built a great and powerful evil.
          Or rather, together, Albert and I have built it.
          I know that I am to blame.
          I allowed Albert to persuade me to change the designs. 
          I allowed this perversion of my course.
        </p>
        <p>
          This new machine that we've built is unlike any I ever imagined.
          It looks... like a man.
          A lifeless steel man.
          Albert convinced me that even with the new <strong>Geological Unmanned Terraforming System</strong> we designed, the task of extracting the ore is still too dangerous for a human.
          He plans to completely replace human workers in the mining sector.
          The idea of displacing so many men... the annihilation of countless jobs in the name of safety seems an unbalanced trade off.
          What is worse, the latest prototypes have been revised to carry small firearms.
        </p>
        <p>              
          Erin, I fear that I have put you and this entire city in danger.
          I will speak to him tonight on the matter.
          Perhaps I can persuade him to scrap the whole project.
          In the meantime, please be careful. This world is getting darker all the time.
        </p>
        <p>
          I weep at the thought of something terrible happening to you.
          I could not bear it.
        </p>
        <p></p>
        <p>
          All my love,
          <br />Brendan
        </p>
    </article>
  </dialog>