<div class="pure-u-1 notification sandwiched is-light">
  <div class="wrap-collapsible">
    <input id="{{title}}" class="toggle" type="checkbox">
    <label for="{{title}}" class="lbl-toggle title">{{title}}</label>

    <div class="collapsible-content">
      <div class="content-inner">
        <div class="pure-u-1 notification is-light">
          {{#each subtitle}}
            <h4 class="subtitle">{{{this}}}</h4>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
