    <section>
      <nav>
        <ul id="upper-nav-left">
          <li><a href="/index.html"><kbd>> Brendan Devenney<b class="blink">_</b></kbd></a></li>
        </ul>
        <ul id="upper-nav-middle"></ul>
        <ul id="upper-nav-right">
          <li role="list">
            <summary aria-haspopup="listbox" role="link"><i class="fa-solid fa-hand-sparkles"></i> Bag of Holding</summary>
            <ul role="listbox">
              <li><a href="/blog/index.html"><i class="fa-solid fa-book"></i> Blog</a></li>
              <li><a href="https://www.linkedin.com/in/brendan-devenney/"><i class ="fa-brands fa-linkedin"></i> LinkedIn</a></li>
              <li><a href="https://github.com/devenney"><i class="fa-brands fa-square-github"></i> GitHub</a></li>
              <li><a href="https://github.com/oneirism/reverie"><i class="fa-solid fa-hat-wizard"></i> Reverie (Sunset)</a></li>
              <li><a href="https://github.com/oneirism/dicebot"><i class="fa-solid fa-dice"></i> Dicebot (Sunset)</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </section>