<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <b>Brendan Devenney</b>
    </a>

		<a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
  </div>

  <div class="navbar-menu" id="navMenu">
		<div class="navbar-start">
			<a class="navbar-item" href="/res/cv.pdf">
				Curriculum Vitae
			</a>
			<a class="navbar-item" href="https://github.com/devenney">
				GitHub
			</a>
		</div>
		<div class="navbar-end">
			<a class="navbar-item" href="https://t.me/devenneybot">
				Devenneybot
			</a>
			<a class="navbar-item" href="https://reverie.devenney.io/">
				Reverie
			</a>
		</div>
  </div>
</nav>
