<div class="pure-u-1 pure-u-lg-1-3">
  <h2 class="title">{{title}}

    <span style="margin-right: -0.5rem;">&#x7b;</span>
    {{#if link}}
      <a href="{{link}}">
        <i class="fas fa-link is-small"></i>
      </a>
    {{/if}}

    {{#if github}}
      <a href="{{github}}">
        <i class="fab fa-github is-small"></i>
      </a>
    {{/if}}

    <span style="margin-left: -0.5rem;">&#125;</span>

  </h2>

  {{#each subtitle}}
    <p>{{{this}}}</p>
  {{/each}}
</div>
